---
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths(){
    const url = `${import.meta.env.PUBLIC_API_URL}/posts?populate=image`;
    const res = await fetch(url);
    const { data: posts } = await res.json();
    return posts.map(post => ({
        params: { id: post.attributes.url },
        props: {
            post: post.attributes
        }
    }));
};

const { post } = Astro.props;
const { title, content, image, publishedAt } = post;
const imageUrl = image?.data.attributes.url;

const formatDate = (date) => {
    return new Date(date).toLocaleDateString('en-US', {
        year: 'numeric',
        month: 'long',
        day: '2-digit'
    });
}
---

<Layout title={title} description="GuitarLA is a website for guitar lovers. We have a wide variety of guitars, accessories, and more.">
    <article class="post container mt-3">
        <img class="image" src={imageUrl} alt={`${title} Post Image`} />
        <div class="content">
            <h3>{title}</h3>
            <p class="date">{formatDate(publishedAt)}</p>
            <p class="text">{content}</p>
        </div>
    </article>
</Layout>

<style>
    .post{
        max-width: 80rem;
    }
    .post .content h3{
        font-weight: 900;
        font-size: 2.8rem;
        margin: 0;

    }
    .post .date{
        font-size: 1.6rem;
        color: var(--primary);
    }
    .post .overview{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
    .post .text{
        white-space: pre-wrap;
    }
    .mt-3{
        margin-top: 3rem;
    }
</style>
